### Faza 4

- zrobienie nowych kopii danych 
- zmienienie nazw kolumn
- usuniecie niepotrzebnych danych

In [7]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import shutil

In [2]:
og = './Data/Gaming_Hours_vs_Performance_1000_Rows.csv'
cp = './Data/gaming_performance.csv'
shutil.copy(og, cp)

'./Data/gaming_performance.csv'

In [9]:
df = pd.read_csv("./Data/gaming_performance.csv")
df.head()

,User_ID,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Weekly_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level,Performance_Impact
0,U0001,21,Male,Working Professional,Action,4.0,28.0,Morning,4.6,6,4,69,66,Negative
1,U0002,35,Female,Student,Sports,1.0,7.0,Night,5.4,2,7,67,72,Neutral
2,U0003,26,Male,Student,Puzzle,2.0,14.0,Morning,8.0,4,8,82,82,Positive
3,U0004,32,Male,Working Professional,Action,1.0,7.0,Night,4.9,7,7,71,66,Neutral
4,U0005,19,Male,Working Professional,Action,2.1,14.7,Morning,7.0,7,7,67,63,Neutral

#### Drop tables

In [10]:
df = df.drop(columns=['User_ID', 'Weekly_Gaming_Hours', 'Productivity_Level', 'Performance_Impact'])
df.head()

,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score
0,21,Male,Working Professional,Action,4.0,Morning,4.6,6,4,69
1,35,Female,Student,Sports,1.0,Night,5.4,2,7,67
2,26,Male,Student,Puzzle,2.0,Morning,8.0,4,8,82
3,32,Male,Working Professional,Action,1.0,Night,4.9,7,7,71
4,19,Male,Working Professional,Action,2.1,Morning,7.0,7,7,67

#### Change columns

In [41]:
df_test = df
df_test = df_test.rename(columns={"Primary_Gaming_Time": "Gaming_Time", "Daily_Gaming_Hours": "Gaming_Hours", "Academic_or_Work_Score": "Score"})
df_test = pd.get_dummies(df_test, columns=['Gender', 'Occupation'], drop_first=True, dtype=int)
df_test.head()

,Age,Game_Type,Gaming_Hours,Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Score,Gender_Male,Occupation_Working Professional
0,21,Action,4.0,Morning,4.6,6,4,69,1,1
1,35,Sports,1.0,Night,5.4,2,7,67,0,0
2,26,Puzzle,2.0,Morning,8.0,4,8,82,1,0
3,32,Action,1.0,Night,4.9,7,7,71,1,1
4,19,Action,2.1,Morning,7.0,7,7,67,1,1

df_test