### Faza 4

- zrobienie nowych kopii danych 
- zmienienie nazw kolumn
- usuniecie niepotrzebnych danych

In [49]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import shutil

In [50]:
og = './Data/Gaming_Hours_vs_Performance_1000_Rows.csv'
cp = './Data/gaming_performance.csv'
shutil.copy(og, cp)

'./Data/gaming_performance.csv'

In [51]:
df = pd.read_csv("./data/gaming_performance.csv")
df.head()

,User_ID,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Weekly_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level,Performance_Impact
0,U0001,21,Male,Working Professional,Action,4.0,28.0,Morning,4.6,6,4,69,66,Negative
1,U0002,35,Female,Student,Sports,1.0,7.0,Night,5.4,2,7,67,72,Neutral
2,U0003,26,Male,Student,Puzzle,2.0,14.0,Morning,8.0,4,8,82,82,Positive
3,U0004,32,Male,Working Professional,Action,1.0,7.0,Night,4.9,7,7,71,66,Neutral
4,U0005,19,Male,Working Professional,Action,2.1,14.7,Morning,7.0,7,7,67,63,Neutral

#### Drop tables

In [52]:
df = df.drop(columns=['User_ID', 'Weekly_Gaming_Hours', 'Productivity_Level', 'Performance_Impact'])
df.head()

,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score
0,21,Male,Working Professional,Action,4.0,Morning,4.6,6,4,69
1,35,Female,Student,Sports,1.0,Night,5.4,2,7,67
2,26,Male,Student,Puzzle,2.0,Morning,8.0,4,8,82
3,32,Male,Working Professional,Action,1.0,Night,4.9,7,7,71
4,19,Male,Working Professional,Action,2.1,Morning,7.0,7,7,67

#### Change columns

In [56]:
df_modify = df
df_modify = df_modify.rename(columns={"Primary_Gaming_Time": "Gaming_Time", "Daily_Gaming_Hours": "Gaming_Hours", "Academic_or_Work_Score": "Score"})
df_modify = pd.get_dummies(df_modify, columns=['Gender', 'Occupation'], drop_first=True, dtype=int)
df_modify.head(5)

,Age,Game_Type,Gaming_Hours,Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Score,Gender_Male,Occupation_Working Professional
0,21,Action,4.0,Morning,4.6,6,4,69,1,1
1,35,Sports,1.0,Night,5.4,2,7,67,0,0
2,26,Puzzle,2.0,Morning,8.0,4,8,82,1,0
3,32,Action,1.0,Night,4.9,7,7,71,1,1
4,19,Action,2.1,Morning,7.0,7,7,67,1,1

In [57]:
df_modify.columns = df_modify.columns.str.lower()
df_modify = pd.get_dummies(df_modify, columns=["gaming_time", "game_type"],drop_first=True, dtype=int)
df_modify.head()

,age,gaming_hours,sleep_hours,stress_level,focus_level,score,gender_male,occupation_working professional,gaming_time_Morning,gaming_time_Night,game_type_Casual,game_type_Puzzle,game_type_Simulation,game_type_Sports,game_type_Strategy
0,21,4.0,4.6,6,4,69,1,1,1,0,0,0,0,0,0
1,35,1.0,5.4,2,7,67,0,0,0,1,0,0,0,1,0
2,26,2.0,8.0,4,8,82,1,0,1,0,0,1,0,0,0
3,32,1.0,4.9,7,7,71,1,1,0,1,0,0,0,0,0
4,19,2.1,7.0,7,7,67,1,1,1,0,0,0,0,0,0

##### Oznaczenia

- Gaming time
    - Morning 0 Night 0 to Evening
    - Morning 1 -> to morning
    - Night 1 -> to night
- Occupation
    - 1 -> Osoba pracujaca
    - 0 -> Student
- Gender_male
    - 1 -> True
    - 0 -> False -> Female
- game_type analogicznie
    - 1 -> Dana kategoria
    - Wszedzie 0 -> kategoria: Action

In [61]:
df = df_modify
df.head(5)

,age,gaming_hours,sleep_hours,stress_level,focus_level,score,gender_male,occupation_working professional,gaming_time_Morning,gaming_time_Night,game_type_Casual,game_type_Puzzle,game_type_Simulation,game_type_Sports,game_type_Strategy
0,21,4.0,4.6,6,4,69,1,1,1,0,0,0,0,0,0
1,35,1.0,5.4,2,7,67,0,0,0,1,0,0,0,1,0
2,26,2.0,8.0,4,8,82,1,0,1,0,0,1,0,0,0
3,32,1.0,4.9,7,7,71,1,1,0,1,0,0,0,0,0
4,19,2.1,7.0,7,7,67,1,1,1,0,0,0,0,0,0

### Podzial danych
Dane zostana podzielone w proporcjach 7:2:1 na zbiory treningowy, walidacyjny, testowy

In [86]:
from sklearn.model_selection import train_test_split

x = df.score
y = df.drop(columns='score')

#zbior testowy
x_train_full_set, x_test, y_train_full_set, y_test = train_test_split(x, y, test_size=0.1, random_state=42)
#zbior walidacyjny
x_train, x_valid, y_train, y_valid = train_test_split(x_train_full_set, y_train_full_set, test_size=0.222, random_state=42)

print(x_train.count())
print(x_valid.count())
print(x_test.count())

700
200
100